.footer{
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
    position: absolute
}

/* .footer{
    text-align: center;
    padding: 1rem;
    background-color: black;
    color: fff;
    position: fixed;
    bottom: 0;
    width: 100%;
} */