.navbar-menu{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    background: skyblue;
}

.navbar-menu a{

    font-size: 18px;
    color: rgb(5,56,77);
    Letter-spacing: 1px;
    font-weight: border;
    text-decoration: none;
}

a:hover{
    color: red;
    
}

a:hover{
    color: white;
    text-decoration: underline;
    /* text-transformation: uppercase; */
}

.navbar-menu fadeIn{
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    } 
}

